In [83]:
!gdown --id 1rP9CPQ558Bz4FEZAiqnjcKxaTtLI6-QL

/usr/local/lib/python3.12/dist-packages/gdown/__main__.py:140: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1rP9CPQ558Bz4FEZAiqnjcKxaTtLI6-QL
To: /content/titanic.csv
100% 60.3k/60.3k [00:00<00:00, 3.66MB/s]

In [84]:
import pandas as pd

In [85]:
df = pd.read_csv('titanic.csv')

#information about dataset

In [86]:
df.shape
#we have 891 raw and 12 columns

(891, 12)

In [87]:
df.info()
# we can see some columns which have null value : Age , Cabin and Embarked
# Note: big part of 'Cabin' column is null ( more than 50% ) so we can drop it

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [88]:
df.describe()
# describe show Numerical columns first

# 'Survived' column has two value(dead or alive (0 or 1))
# 'Pclass' tell us about class of ship (1,2,3)
# 'Age' say oldest Passenger(80 years old) and the youngest(4 mounth and 2 day)
# 'SibSp'(siblings + spouse) is about siblings(sisters and brothers) and spouse(wife).
# 'Parch'(parents + children)
# 'Fare' or price of ticket. there is some passengers who pay 0$ and passengers who pay 512$

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [89]:

df.describe(include=['object'])
# now we can see categorical columns too

#'Sex' tell us that the majority of passengers was male
#'Cabin'= in every cobin was 4 passenger
#'Embarked' is about where passengers embarked (S,C,Q)

                       Name   Sex  Ticket Cabin Embarked
count                   891   891     891   204      889
unique                  891     2     681   147        3
top     Dooley, Mr. Patrick  male  347082    G6        S
freq                      1   577       7     4      644

In [90]:
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
279,280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.0,1,1,C.A. 2673,20.2500,NaN,S
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
735,736,0,3,"Williams, Mr. Leslie",male,28.5,0,0,54636,16.1000,NaN,S
832,833,0,3,"Saad, Mr. Amin",male,NaN,0,0,2671,7.2292,NaN,C
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

In [91]:
df[df['Pclass'] == 1].shape[0]
df[df['Pclass'] == 2].shape[0]
df[df['Pclass'] == 3].shape[0]
# we have 216 passengers in first class , 184 passenger in second class and 491 in third class

491

In [92]:
df[(df['Pclass'] == 1) & (df['Survived'] == 1)].shape[0]
df[(df['Pclass'] == 2) & (df['Survived'] == 1)].shape[0]
df[(df['Pclass'] == 3) & (df['Survived'] == 1)].shape[0]
# from 216 persons in first class 136 persons Survived(63%)
# from 184 persons in second class 87 persons Survived(47%)
# from 491 persons in third class 119 persons Survived(24%)

# We can clearly see that the higher the passenger class, the greater the number of survivors.

119

In [93]:
df[(df['Sex'] == 'male') & (df['Survived'] == 1)].shape[0]
df[(df['Sex'] == 'female') & (df['Survived'] == 1)].shape[0]
# Survived men = 109
# Survived women = 233

# why? women and children first

233

#Preprocessing

##null values

In [94]:
#first i'll look at dataset to see how many null we have
df.info()
# 'Cabin' has to drop (more than 50% is null)
df_2 = df.copy()
df_2.drop('Cabin', axis=1, inplace=True)
# also Passengerid doesn't have much effect on being survived
df_2.drop('PassengerId',axis=1,inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [95]:
# now let's fix Age and Embarked
# Age is Numerical so we fix it's nulls with Mean
df_2['Age'].fillna(df['Age'].mean ,inplace=True);
# Embarked is categorical so we fix it with Mode
df_2['Embarked'].fillna(df['Embarked'].mode , inplace=True);
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       891 non-null    object
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Embarked  891 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 69.7+ KB

/tmp/ipython-input-1763964983.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_2['Age'].fillna(df['Age'].mean ,inplace=True);
/tmp/ipython-input-1763964983.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.mean of 0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_2['Age'].fillna(df['Age'].mean ,inplace=True);
/tmp/ipython-input-1763964983.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_2['Embarked'].fillna(df['Embarked'].mode , inplace=True);

In [96]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       891 non-null    object
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Embarked  891 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 69.7+ KB

##convertion categorical value to Numerical

In [103]:
# Sex , Age, Name , Ticket and Embarked are categorical
# if our value was Ordinal we use Label Encoding and if was Nominal we use One-Hot-Encoding
df_2 = pd.get_dummies(df_2,columns=['Sex'],drop_first=True);
df_2['Age'].fillna(df['Age'].mean ,inplace=True);

KeyError: "None of [Index(['Sex'], dtype='object')] are in the [columns]"

In [ ]:
df_2['Embarked'].fillna(df_2['Embarked'].mode()[0], inplace=True)
df_2 = pd.get_dummies(df_2,columns=['Embarked'],drop_first=True)

In [ ]:
df_2.drop('Ticket', axis=1, inplace=True)

In [107]:
# convert Age to float
df_2['Age'] = pd.to_numeric(df_2['Age'], errors='coerce');

##feature engineering

In [111]:
# Title extraction
df_2['Title'] = df_2['Name'].str.extract(r',\s*([^\.]+)\.', expand=False)
# simplify the titles
rare_titles = ['Lady','Countess','Capt','Col','Don','Dr','Major','Rev','Sir','Jonkheer','Dona']
df_2['Title'] = df_2['Title'].replace(['Mlle','Ms'],'Miss')
df_2['Title'] = df_2['Title'].replace('Mme','Mrs')
df_2['Title'] = df_2['Title'].replace(rare_titles, 'Rare')

In [112]:
df_2

,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Embarked,Sex_male,Title
0,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,S,True,Mr
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C,False,Mrs
2,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,S,False,Miss
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,S,False,Mrs
4,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,S,True,Mr
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",27.0,0,0,211536,13.0000,S,True,Rare
887,1,1,"Graham, Miss. Margaret Edith",19.0,0,0,112053,30.0000,S,False,Miss
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",NaN,1,2,W./C. 6607,23.4500,S,False,Miss
889,1,1,"Behr, Mr. Karl Howell",26.0,0,0,111369,30.0000,C,True,Mr
890,0,3,"Dooley, Mr. Patrick",32.0,0,0,370376,7.7500,Q,True,Mr

In [113]:
# Family size & IsAlone
df_2['FamilySize'] = df_2['SibSp'] + df_2['Parch'] + 1
df_2['IsAlone'] = (df_2['FamilySize'] == 1).astype(int)

In [114]:
df_2

,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Embarked,Sex_male,Title,FamilySize,IsAlone
0,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,S,True,Mr,2,0
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C,False,Mrs,2,0
2,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,S,False,Miss,1,1
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,S,False,Mrs,2,0
4,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,S,True,Mr,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",27.0,0,0,211536,13.0000,S,True,Rare,1,1
887,1,1,"Graham, Miss. Margaret Edith",19.0,0,0,112053,30.0000,S,False,Miss,1,1
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",NaN,1,2,W./C. 6607,23.4500,S,False,Miss,4,0
889,1,1,"Behr, Mr. Karl Howell",26.0,0,0,111369,30.0000,C,True,Mr,1,1
890,0,3,"Dooley, Mr. Patrick",32.0,0,0,370376,7.7500,Q,True,Mr,1,1