In [12]:
!gdown --id 1rP9CPQ558Bz4FEZAiqnjcKxaTtLI6-QL

/usr/local/lib/python3.12/dist-packages/gdown/__main__.py:140: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1rP9CPQ558Bz4FEZAiqnjcKxaTtLI6-QL
To: /content/titanic.csv
100% 60.3k/60.3k [00:00<00:00, 3.22MB/s]

In [13]:
import pandas as pd

In [ ]:
df = pd.read_csv('titanic.csv')

## information about dataset

In [16]:
df.shape
#we have 891 raw and 12 columns

(891, 12)

In [20]:
df.info()
# we can see some columns which have null value : Age , Cabin and Embarked
# Note: big part of 'Cabin' column is null ( more than 50% ) so we can drop it

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [22]:
df.describe()
# describe show Numerical columns first

# 'Survived' column has two value(dead or alive (0 or 1))
# 'Pclass' tell us about class of ship (1,2,3)
# 'Age' say oldest Passenger(80 years old) and the youngest(4 mounth and 2 day)
# 'SibSp'(siblings + spouse) is about siblings(sisters and brothers) and spouse(wife).
# 'Parch'(parents + children)
# 'Fare' or price of ticket. there is some passengers who pay 0$ and passengers who pay 512$

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [24]:

df.describe(include=['object'])
# now we can see categorical columns too

#'Sex' tell us that the majority of passengers was male
#'Cabin'= in every cobin was 4 passenger
#'Embarked' is about where passengers embarked (S,C,Q)

                       Name   Sex  Ticket Cabin Embarked
count                   891   891     891   204      889
unique                  891     2     681   147        3
top     Dooley, Mr. Patrick  male  347082    G6        S
freq                      1   577       7     4      644

In [38]:
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
171,172,0,3,"Rice, Master. Arthur",male,4.0,4,1,382652,29.1250,NaN,Q
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
394,395,1,3,"Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengt...",female,24.0,0,2,PP 9549,16.7000,G6,S
798,799,0,3,"Ibrahim Shawah, Mr. Yousseff",male,30.0,0,0,2685,7.2292,NaN,C
603,604,0,3,"Torber, Mr. Ernst William",male,44.0,0,0,364511,8.0500,NaN,S

In [58]:
df[df['Pclass'] == 1].shape[0]
df[df['Pclass'] == 2].shape[0]
df[df['Pclass'] == 3].shape[0]
# we have 216 passengers in first class , 184 passenger in second class and 491 in third class

491

In [66]:
df[(df['Pclass'] == 1) & (df['Survived'] == 1)].shape[0]
df[(df['Pclass'] == 2) & (df['Survived'] == 1)].shape[0]
df[(df['Pclass'] == 3) & (df['Survived'] == 1)].shape[0]
# from 216 persons in first class 136 persons Survived(63%)
# from 184 persons in second class 87 persons Survived(47%)
# from 491 persons in third class 119 persons Survived(24%)

# We can clearly see that the higher the passenger class, the greater the number of survivors.

119

In [67]:
df[(df['Sex'] == 'male') & (df['Survived'] == 1)].shape[0]
df[(df['Sex'] == 'female') & (df['Survived'] == 1)].shape[0]
# Survived men = 109
# Survived women = 233

# why? women and children first

109

233