In [121]:
!gdown --id 1rP9CPQ558Bz4FEZAiqnjcKxaTtLI6-QL

/usr/local/lib/python3.12/dist-packages/gdown/__main__.py:140: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1rP9CPQ558Bz4FEZAiqnjcKxaTtLI6-QL
To: /content/titanic.csv
100% 60.3k/60.3k [00:00<00:00, 7.59MB/s]

In [122]:
import pandas as pd

In [123]:
df = pd.read_csv('titanic.csv')

#information about dataset

In [124]:
df.shape
#we have 891 raw and 12 columns

(891, 12)

In [125]:
df.info()
# we can see some columns which have null value : Age , Cabin and Embarked
# Note: big part of 'Cabin' column is null ( more than 50% ) so we can drop it

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [126]:
df.describe()
# describe show Numerical columns first

# 'Survived' column has two value(dead or alive (0 or 1))
# 'Pclass' tell us about class of ship (1,2,3)
# 'Age' say oldest Passenger(80 years old) and the youngest(4 mounth and 2 day)
# 'SibSp'(siblings + spouse) is about siblings(sisters and brothers) and spouse(wife).
# 'Parch'(parents + children)
# 'Fare' or price of ticket. there is some passengers who pay 0$ and passengers who pay 512$

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [127]:

df.describe(include=['object'])
# now we can see categorical columns too

#'Sex' tell us that the majority of passengers was male
#'Cabin'= in every cobin was 4 passenger
#'Embarked' is about where passengers embarked (S,C,Q)

                       Name   Sex  Ticket Cabin Embarked
count                   891   891     891   204      889
unique                  891     2     681   147        3
top     Dooley, Mr. Patrick  male  347082    G6        S
freq                      1   577       7     4      644

In [128]:
df.sample(5)

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
758          759         0       3  ...   8.0500   NaN         S
205          206         0       3  ...  10.4625    G6         S
513          514         1       1  ...  59.4000   NaN         C
833          834         0       3  ...   7.8542   NaN         S
773          774         0       3  ...   7.2250   NaN         C

[5 rows x 12 columns]

In [129]:
df[df['Pclass'] == 1].shape[0]
df[df['Pclass'] == 2].shape[0]
df[df['Pclass'] == 3].shape[0]
# we have 216 passengers in first class , 184 passenger in second class and 491 in third class

491

In [130]:
df[(df['Pclass'] == 1) & (df['Survived'] == 1)].shape[0]
df[(df['Pclass'] == 2) & (df['Survived'] == 1)].shape[0]
df[(df['Pclass'] == 3) & (df['Survived'] == 1)].shape[0]
# from 216 persons in first class 136 persons Survived(63%)
# from 184 persons in second class 87 persons Survived(47%)
# from 491 persons in third class 119 persons Survived(24%)

# We can clearly see that the higher the passenger class, the greater the number of survivors.

119

In [131]:
df[(df['Sex'] == 'male') & (df['Survived'] == 1)].shape[0]
df[(df['Sex'] == 'female') & (df['Survived'] == 1)].shape[0]
# Survived men = 109
# Survived women = 233

# why? women and children first

233

#Preprocessing

##null values

In [132]:
#first i'll look at dataset to see how many null we have
df.info()
# 'Cabin' has to drop (more than 50% is null)
df_2 = df.copy()
df_2.drop('Cabin', axis=1, inplace=True)
# also Passengerid doesn't have much effect on being survived
df_2.drop('PassengerId',axis=1,inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [133]:
# now let's fix Age and Embarked
# Age is Numerical so we fix it's nulls with Mean
df_2['Age'].fillna(df['Age'].mean ,inplace=True);
# Embarked is categorical so we fix it with Mode
df_2['Embarked'].fillna(df['Embarked'].mode , inplace=True);

/tmp/ipython-input-117215125.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_2['Age'].fillna(df['Age'].mean ,inplace=True);
/tmp/ipython-input-117215125.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.mean of 0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_2['Age'].fillna(df['Age'].mean ,inplace=True);
/tmp/ipython-input-117215125.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_2['Embarked'].fillna(df['Embarked'].mode , inplace=True);

##convertion categorical value to Numerical

In [134]:
# Sex , Age, Name , Ticket and Embarked are categorical
# if our value was Ordinal we use Label Encoding and if was Nominal we use One-Hot-Encoding
df_2 = pd.get_dummies(df_2,columns=['Sex'],drop_first=True);

In [135]:
df_2['Embarked'].fillna(df_2['Embarked'].mode()[0], inplace=True)
df_2 = pd.get_dummies(df_2,columns=['Embarked'],drop_first=True)

/tmp/ipython-input-1388952891.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_2['Embarked'].fillna(df_2['Embarked'].mode()[0], inplace=True)

In [136]:
# drop categorical columns
df_2.drop('Ticket', axis=1, inplace=True)

In [137]:
df_2.drop('Title', axis=1, inplace=True)

KeyError: "['Title'] not found in axis"

In [142]:
df_2.drop('Name', axis=1, inplace=True)

In [143]:
df_2['Age'].fillna(df['Age'].mean(), inplace=True)

/tmp/ipython-input-3613690336.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_2['Age'].fillna(df['Age'].mean(), inplace=True)

In [144]:
# convert Age to float
df_2['Age'] = pd.to_numeric(df_2['Age'], errors='coerce');

# Preparing model

In [145]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    891 non-null    int64
 1   Pclass      891 non-null    int64
 2   Age         714 non-null    float64
 3   SibSp       891 non-null    int64
 4   Parch       891 non-null    int64
 5   Fare        891 non-null    float64
 6   Sex_male    891 non-null    bool
 7   Embarked_C  891 non-null    bool
 8   Embarked_Q  891 non-null    bool
 9   Embarked_S  891 non-null    bool
dtypes: bool(4), float64(2), int64(4)
memory usage: 45.4 KB

In [146]:
# train test split
from sklearn.model_selection import train_test_split
X = df_2.drop('Survived',axis=1)
y = df_2['Survived']
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [147]:
# first of all we use one of the most common model
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [150]:
# Evaluation of model: acc , confusion_matrix and cls report
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.8156424581005587
Confusion Matrix:
 [[91 14]
 [19 55]]
Report:
               precision    recall  f1-score   support

           0       0.83      0.87      0.85       105
           1       0.80      0.74      0.77        74

    accuracy                           0.82       179
   macro avg       0.81      0.80      0.81       179
weighted avg       0.81      0.82      0.81       179